Goals and requirements
======================

Goals
-----

1. The passengers must be able to:

    1. Transmit its position and the desired destination to the system, thus initiating
    the request of a taxi
    #. Access the system from both a in-browser and a mobile application (?)
    #. Receive the code and the ETA of the incoming taxi
    
        **Assumption:** in case the taxi queue is empty, the system will query the
        adjacent zones
        
#. The taxi driver must be able to:

    1. Login to the system ( p
    #. (?) Create an account adding: Name, Surname, fiscal code, vehicle ID( Targa), phone number (security: verify phone number through a code, Steam like)
    #. Answer a passenger requester
    #. Render him/herself available to the scheduler
    #. Render him/herself unavailable to the scheduler
    
#. The system must:

    1. Keep a database of all the taxi drivers, with rach drivers'ID
    #. Keep track of the different zone
    #. Append free taxis on the queue corresponding to his zone location
    #. Forward passengers request to the first taxi in the passengers zone queue (?)
    #.Send taxi ID and ETA to the passenger passenger requester

#. Constraints
    1. Unique account for each veichle ID 