Goals, requirements and stuff
======================
WARNING: verbs are not in third person singular form

Goals
-----

1. The passengers must be able to:

    1. Transmit its position and the desired destination to the system, thus initiating
    the request of a taxi
    #. Receive the code and the ETA of the incoming taxi
    #. Reserve a taxi for a certain time
    #. Request a shared ride
    #. Receive the fee amount he need to pay in case of a shared ride
        
#. The taxi driver must be able to:
 
    1. Answer a passenger request
    #. Render him/herself available to the scheduler
    #. Render him/herself unavailable to the scheduler
    #. Receive informations about the fees of the passengers in case of shared ride

#. The system must to:

    1. Offer a programmatic interface to enable the development of additional services

Requirements
------------

1. The system forward passengers request to the first taxi in the passengers zone queue
#. If a taxi refuses a call request, the system must forward the call to the second taxi in queue,
and move the first taxi at the end of the queue
#. The system appends free taxis on the queue corresponding to his zone location
#. The system sends taxi ID and ETA to the passenger requester
#. The system must allocate a taxi, for a reservation, 10 minutes before the meeting time with the passenger
#. The system must arranges the shared rides :

    1. Aggregates passengers in the same taxi-zone
    #. Arranges the route for the taxi driver
    #. Defines the fee for all persons that are sharing the taxi, and informs the passengers and the taxi driver

#. The system accept only reservation that occur at least two hours before the ride 
#. A veichle ID can't belong to two different account
#. Every taxi driver must create an account to access the service, adding: Name, Surname, SSN, veichle ID, License ID, phone number\ badge
#. The taxi drivers must login to start using the service
#. Upon logout of a driver, the system must remove the corresponding taxi from the queue


Assumptions
-----------

1. Taxi locations are acquired by GPS
#. The system append freee taxis on the queue corresponding to his zone location
#. The system must keep a database of all the taxi drivers, with rach drivers'ID
#. The system must keep track of the different zone
#. Passenger should be able to access the system from both a in-browser and a mobile application

Constraints
-----------

1. Passengers can access to the service through mobile or web application
#. Taxi driver can use the system only with mobile application
#. Taxi driver must have a GPS to share his location with the system
#. Both Passengers and Taxi driver must be connected to the netowrk to access the service (too obvious?)
#. Each taxi driver is in charge of exactly one taxi vehicle
#. 

Further observation
-------------------

1. G5 "Receive the fee amount he need to pay in case of a shared ride" is actually a requirement
#. Modify G4: a shared ride must be available even without having reserved it first (aka Sharing on demand)

**Measures to harden the system in case of misuse**

#. Add reporting system to enforce the users' nice behaviour
    * Both driver-side and passenger-side
    * This required every user to be tracked with a personal account, in scenarios I, II and III
    * Decide how much should the system's intervention be automatic (i.e. timed ban) VS
    non-automatic (forward the report for scrutiny by the authorities)